{% load static %}

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
{% if name %}
    <meta name="application-name" content="{{ name }}">
{% endif %}

<!-- Chrome for Android theme color -->
{% if theme_color %}
    <meta name="theme-color" content="{{ theme_color }}">
{% endif %}

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
{% if name %}
    <meta name="apple-mobile-web-app-title" content="{{ name }}">
{% endif %}
{% if status_bar_color %}
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ status_bar_color }}">
{% endif %}


{% if icons_apple %}
    {% for icon in icons_apple %}
        <link rel="apple-touch-icon" href="{% static icon.src %}" sizes="{{ icon.size }}">
    {% endfor %}
{% elif icons %}
    {% for icon in icons %}
        <link rel="apple-touch-icon" href="{% static icon.src %}" sizes="{{ icon.size }}">
    {% endfor %}
{% endif %}

{% if splash_screen %}
    {% for splash in splash_screen %}
        <link href="{% static splash.src %}" media="{{ splash.media }}" rel="apple-touch-startup-image"/>
    {% endfor %}
{% endif %}

<!-- Tile for Win8 -->
{% if background_color %}
    <meta name="msapplication-TileColor" content="{{ background_color }}">
{% endif %}

{% if icons %}
    {% with icons|last as icon %}
    <meta name="msapplication-TileImage" content="{{ icon.src }}">
    <link rel="icon" sizes="{{ icon.size }}" href="{% static icon.src %}"> 
    {% endwith %}
{% endif %}

{% if not SERVICE_WORKER_DISABLED %}
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{% url 'pwa:serviceworker' %}", {
            scope: '/'
        }).then(_ => {}).catch(e => {});
    }
</script>
{% endif %}
{% if not PAGE_ANIMATION_DISABLED %}
<link rel="stylesheet" href="{% static static 'css/page_animations.css' %}">
<script>
    window.onbeforeunload = () => { 
        document.body.classList.add('reload');
    }
</script>
{% endif %}

<link rel="manifest" href="{% static url 'pwa:manifest' %}">
