{% extends "admin/base.html" %}
{% load static %}
{% load pwa %}

{% block extrahead %}
    {% progressive_web_app_meta %}
    <link rel="stylesheet" href="{% static 'css/page_animations.css' %}">
    <script>
        window.onbeforeunload = () => { 
            document.body.classList.add('reload');
        }

    </script>

    <style>

        .developed_by {
            background-color: gray;
            padding: .5rem .3rem;
            color: #fff;
            position: fixed;
            bottom: 0;
            right: 0;
            margin: 0;
            font-size: .8rem;
            border-radius: 4px 4px 0 0;
        }

        .image_preview { 
            height: 150px;
            width: 100px;
            object-fit: cover;
        }

        .admin-actions { 
            display: flex;
            align-items: center;
        }

        a.btn-action { 
            padding: .4rem 1rem;
        }

        td, th { 
            vertical-align: middle;
        }

        #nav-sidebar > .module { 
            margin-bottom: 10px;
        }
        #changelist-form { 
            width: 100%;
        }

        #changelist td { 
            padding-top: .8rem ;
            padding-bottom: .8rem ;
        }

        #changelist table thead th  { 
            background-color: var(--primary);
            transition: background-color .2s ease-out;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        #changelist thead th.sortable:hover,
        #changelist thead th.sortable a:focus,
        #changelist thead th.sortable .text a:hover { 
            background-color: var(--secondary) !important; 
        }
        
        #changelist thead th a,
        #changelist thead th {
            color: #fff;
        }

        #changelist .results { 
            border-radius: 5px;
        }

    </style>
{% endblock %}

{% block footer %}
    <h1 class="developed_by">Developed By: <strong>Huzaifa<strong></h1>
{% endblock footer %}